.info-date {
    width: 55%;
}

.info-time {
    width: 72%;
}

.w-90 {
    width: 92%;
}

@media only screen and (max-width: 480px) {
    .info-date {
        width: 95%;
    }

    .info-time {
        width: 50%;
    }
}

.simulate-range {
    width: 80px;
    border: 1px solid #000;
    margin: 13px 0px;
}

.list-group .list-group-item.active {
    background-color: #17a2b8!important;
    border-color: #17a2b8!important;
}